wheel
requests
selenium
g4f[all]
anthropic
openai
assemblyai
google-generativeai
gtts
#TTS
edge-tts
elevenlabs
faster-whisper
moviepy
Pillow==9.5.0
webdriver_manager
selenium_firefox
undetected_chromedriver
ipyplot
ffmpeg-python==0.2.0
imageio==2.25.1
numpy==1.23.0
wheel
setuptools
Pillow
telethon
termcolor
prettytable
icrawler
